* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navBar Stylings  */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: sticky;
    top: 0;
    height: 13vh;
    background-color: black;
    color: white;
}

.spanLogo {
    font-size: 22px;
}

.citisolveBtn {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: sans-serif;

}

.ComplaintBtns {
    display: flex;
    align-items: center;
    gap: 10px;
    /* font-family: sans-serif; */
}

.complaint,
.mycom {
    color: rgb(248, 230, 230);
    background-color: rgb(252, 7, 7);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mycom:hover {
    background-color: pink;
    color: black;
    border: 0.5px solid white;
}

.complaint:hover {
    background-color: pink;
    color: black;
    border: 0.5px solid white;
}

.login {
    color: rgb(248, 230, 230);
    background-color: rgb(252, 7, 7);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    color: rgb(248, 230, 230);
    background-color: rgb(252, 7, 7);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login:hover {
    background-color: pink;
    color: black;
    border: 0.5px solid white;
}

.register:hover {
    background-color: pink;
    color: black;
    border: 0.5px solid white;
}

.spanWelCome {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.logout {
    padding: 5px 13px;
    background-color: rgb(252, 7, 7);
    color: rgb(248, 230, 230);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    background-color: pink;
    color: black;
    border: 0.5px solid white;
}


.button {
    display: flex;
    gap: 10px;
}





/* .citisolveBtn stylings */

.mainDiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.mainText p {
    text-align: center;
    padding: 10px;

}

.mainText h1 {
    font-size: 50px;
    padding: 10px;
    margin-top: 80px;
}

.extraBtns {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;

}

.extraLogin,
.extraReg {
    padding: 8px 20px;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
}
.extraLogin:hover{
    background-color:white;
    border: 1px solid black;
    color: black;
}
.extraReg:hover{
    background-color:white;
    border: 1px solid black;
    color: black;
}
.mainDiv1 .workstext {
    font-size: 28px;
    padding: 20px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 20px;
    text-align: center;
}

.information h1 {
    background-color: blue;
    color: white;
    border-radius: 100px;
    width: 40px;

}

.regInfm,
.subInfm,
.trackInfm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mainDiv1 .readyToGo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    background-color: black;
    color:white;
    padding: 50px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    gap: 7px;
}

.anotherBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    gap: 10px;
}

.acc,
.SignIn {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.acc:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}
.SignIn:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}







/* login page stylings */

.mainDiv2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
}

.formDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    padding: 20px;
    height: 75vh;
}
.formDiv:hover{
    background-color: rgb(245, 242, 242);
    border: 0.5px solid black;
}

h2,
p {
    text-align: center;
}
hr{
    margin-top: 10px;
}
.InputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.loginInput {
    border-radius: 5px;
    width:100%;
    padding: 5px 10px;
    border: 0.5px solid black;
}

.LoginBtn {
    padding: 6px 10px;
    /* width: 250px; */
    cursor: pointer;
    border-radius: 5px;
    background: none;
    margin-top: 10px;
    border:0.5px solid black;
    color: black;

}
.LoginBtn:hover{
    background-color: black;
    color: white;
    border: 1px solid white;

}
.regNaviBtn{
    all: unset;
    cursor: pointer;
}
.regNaviBtn:hover{
    color: blue;
}
.regNaviBtn:active{
    color: black;
}






/* register page */

.mainDiv3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}

.mainDiv3 h3 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.mainDiv3 .parahaid{
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
}
.mainDiv3 .para {
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
}
.formREG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    background-color:white;

}
.formREG:hover{
    background-color: rgb(240, 236, 236);
}
.inputFieldDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.inputreg {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
}

.option,
#select {
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
}

.CreateAcc {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.CreateAcc:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.signNavi{
    all: unset;
    cursor: pointer;
}
.signNavi:hover{
    color: blue;
}
.signNavi:active{
    color: black;
}